body{
    padding: 0;
    margin: 0;
    background: rgb(1, 13, 20);
}
form{
    background: rgb(226, 255, 236);
    padding: 30px 40px;
    display: inline-block;
}
td{
    border: 1px solid grey;
}
button{
    height: 30px;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    background: rgb(6, 59, 43);
    color: aliceblue;
    margin-right: 15px;
}